<div [hidden]="!activeForm">
  <h4>
    {{ !produto.id ? 'Novo' : 'Editar'}} Produto
  </h4>
  <div class="card">
    <div class="row form">
      <div class="col-3 form-group">
        <label>Código de Barras</label>
        <input [(ngModel)]="produto.codigoBarras" class="form-control" placeholder="Código de barras">
      </div>
      <div class="col-6 form-group">
        <label>Descrição *</label>
        <input [(ngModel)]="produto.descricao" class="form-control" placeholder="Descrição" required>
      </div>
      <div class="col-3 form-group">
        <label>Valor (R$) *</label>
        <input [(ngModel)]="produto.valor" type="number" class="form-control col-number" placeholder="0,00" required>
      </div>
      <div class="col-8 form-group">
        <label>Imagem</label>
        <div class="custom-file">
          <input type="file" id="imagem" accept="image/jpeg" (change)="onFileChange($event)" class="custom-file-input">
          <label class="custom-file-label" for="customFile">Selecione uma Imagem</label>
        </div>
      </div>
      <div class="col-4 form-group">
        <img *ngIf="produto.imagem" [src]="produto.imagem" height="72">
      </div>
      <div class="col-12 form-group" style="text-align: right">
        <hr/>
        <button (click)="cancel()" type="button" class="btn btn-light">
          Cancelar
        </button>
        &nbsp;
        <button (click)="save()" [disabled]="!produto.descricao || !produto.valor" type="button" class="btn btn-success">
          Salvar
        </button>
      </div>
    </div>
  </div>
</div>